doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Template Email
    style.
      * {
        margin: 0;
        padding: 0;
      }
      h1 {
        padding: 4px;
        font-size: 20px;
      }
      h2 {
        padding: 4px;
        font-size: 18px;
      }
      h3 {
        padding: 4px;
        font-size: 16px;
      }
      .fw-bold {
        font-weight: bold;
      }
      .fw-normal {
        font-weight: normal;
      }
      #preview-email {
        display: block;
        margin: auto;
        width: 900px;
        font-family: Arial, Helvetica, sans-serif;
      }
      #preview-email .card {
        margin: 20px;
        box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
      }
      #preview-email .card-header {
        border-radius: 5px 5px 0px 0px;
        width: 100%;
      }
      #preview-email .card-body {
        margin: 20px;
      }
      #preview-email img.logo-mitra {
        width: 100px;
        height: fit-content;
      }
      #preview-email .header {
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;
      }
      #preview-email .header .logo {
        display: flex;
        align-items: center;
        gap: 10px;
      }
      #preview-email .card-footer {
        border-radius: 0px 0px 5px 5px;
        width: 100%;
      }
      #preview-email .button-csi {
        margin: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      #preview-email img.link-csi {
        width: fit-content;
        height: 90px;
      }

      @media screen and (max-width: 576px) {
        #preview-email .header .logo {
          margin-bottom: 20px;
        }
        #preview-email .card-body .header {
          display: flex;
          flex-direction: column;
          align-items: start;
          margin-bottom: 20px;
        }
      }
  body
    section#preview-email
      .card
        img.card-header(src='https://i.ibb.co.com/fMKmCPX/Whats-App-Image-2024-08-07-at-11-27-26-c5a2069a.jpg' alt='header-email-instalasi-01' border='0')
        .card-body
          .header
            .logo
              img.logo-mitra(src='https://csahome.com/wp-content/uploads/2020/06/mitra10.png' alt='Logo Mitra10')
              h1 Instalasi & Service Mitra 10
            .description
              h3.fw-bold
                | Tanggal Order :
                - var formateCreatedAt = new Date(data.order.created_at).toLocaleDateString('id-ID', { year: 'numeric', month: 'long', day: 'numeric' });
                span.fw-normal #{formateCreatedAt}
              h3.fw-bold
                | Request Survey :
                - var formatRequestSurvey = new Date(data.order.request_survey).toLocaleDateString('id-ID', { year: 'numeric', month: 'long', day: 'numeric' });
                span.fw-normal #{formatRequestSurvey}
              h3
                | Order ID :
                span.fw-normal #{data.order.id}
          .content
            h3.fw-normal #{data.message.welcome_header}, #{data.order.members.full_name}
            h3.fw-bold Terima kasih telah melakukan order Layanan Jasa Instalasi & Service Mitra10

            .button-csi
              a.button-csi(href=data.csi.survey_link target="_blank")
                img.link-csi(src="https://i.ibb.co.com/qxBpmkK/gambar-button-csi.png" alt="Mitra10")
            h3.fw-bold Hormat Kami, Mitra10
            h3.fw-normal
              | #{data.message.footer}
        img.card-footer(src='https://i.ibb.co.com/WfLzSHp/footer-email-instalasi-02.jpg' border='0' alt='footer-email-instalasi-02')
