html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Template PDF Rekonsel
section#invoice(style='\
margin: 0 auto;\
padding: 20px;\
font-family: Arial, Helvetica, sans-serif;\
')
  - const days = ['Minggu', 'Senin', 'Selasa', 'Rabu', 'Kamis', 'Jumat', 'Sabtu'];
  - const months = ['Januari', 'Februari', 'Maret', 'April', 'Mei', 'Juni', 'Juli', 'Agustus', 'September', 'Oktober', 'November', 'Desember'];
  - const today = new Date();
  - const dayName = days[today.getDay()];
  - const day = today.getDate();
  - const month = months[today.getMonth()];
  - const year = today.getFullYear();
  - const currentMonth = today.getMonth();
  - const previousMonth = currentMonth === 0 ? 11 : currentMonth - 1;
  - const currentYear = today.getFullYear();
  - const previousYear = currentMonth === 0 ? currentYear - 1 : currentYear;

  .header
  table(width='100%' cellpadding='0' cellspacing='0' style='margin-bottom: 10px')
    tr
      td(style='width: 50%; vertical-align: top')
        h1(style='color: #007eb4; font-size: 20px; font-weight: bold; margin-bottom: 10px;')
          | #{data.invoice.vendor.company_name}
        p(style='font-size: 14px; margin: 0 !important; width: 400px;')
          | #{data.invoice.vendor.address}

      td(style='width: 50%; text-align: right; vertical-align: top; text-align: start;')
        div
          h1(style='color: #484747; font-size: 20px; font-weight: bold; margin-bottom: 10px;')
            | INVOICE
          p(style='font-size: 14px; margin-top: 5px !important; margin-bottom: 5px !important;')
            strong Invoice ID:
            |  #{data.invoice.id}
          p(style='font-size: 14px; margin-top: 5px !important; margin-bottom: 5px !important;')
            strong Tanggal dibuat:
            - const formateInvoiceCreatedAt = new Date(data.invoice.created_at).toLocaleDateString('id-ID', { year: 'numeric', month: 'long', day: 'numeric' });
            |  #{formateInvoiceCreatedAt}
          p(style='font-size: 14px; margin-top: 5px !important; margin-bottom: 5px !important;')
            strong Periode:
            | #{months[previousMonth]} - #{months[currentMonth]} #{previousMonth > currentMonth ? previousYear : currentYear}
          p(style='font-size: 14px; margin-top: 5px !important; margin-bottom: 5px !important;')
            strong
              | Tanggal diberikan kepada Finance:
            - const formateInvoiceDate = data.invoice.invoice_to_finance_date ? new Date(data.invoice.invoice_to_finance_date).toLocaleDateString('id-ID', { year: 'numeric', month: 'long', day: 'numeric' }) : "Invoice ini belum dikirimkan ke finance";
            | #{formateInvoiceDate}



  .content
    table(border='1' cellpadding='10' cellspacing='0' style='width: 100%; border-collapse: collapse page-break-inside: auto; margin-top: 20px;')
      thead
        tr(style='background-color: #555555; color: white')
          th(style='font-size: 12px') No.
          th(style='font-size: 12px') Order ID
          th(style='font-size: 12px') Tanggal Order
          th(style='font-size: 12px') Nama Toko
          th(style='font-size: 12px')
            | Nama Konsumen
          th(style='font-size: 12px') Tipe Order
          th(style='font-size: 12px') No. Receipt
          th(style='font-size: 12px') Total Harga
      tbody
      each item, index in data.invoice.invoice_details  
        tr(key=`${index} - invoice details`)
          td(style='font-size: 12px') #{item.invoice_number}.
          td(style='font-size: 12px') #{item.order_id}
          - const orderCreatedAt = new Date(item.order.created_at).toLocaleDateString('id-ID', { year: 'numeric', month: 'long', day: 'numeric' });
          td(style='font-size: 12px') #{orderCreatedAt}
          td(style='font-size: 12px')
            | #{item.order.store.store_name}
          td(style='font-size: 12px') #{item.order.members.full_name}
          td(style='font-size: 12px') #{item.order.payment_type}
          td(style='font-size: 12px') #{item.order.payment_type === 'survey' && item.type != 1  ? item.order.quotation[0].receipt_quotation || '-' : item.order.receipt_number}
          td(style='font-size: 12px') Rp. #{item.total.toLocaleString('id')}
      tr
        td(colspan='7' style='font-weight: bold; font-size: 12px')
          | Total
        td(style='font-weight: bold; font-size: 12px')
          | Rp. #{data.invoice.invoice_details.reduce((acc, curr) => acc + Number(curr.total), 0).toLocaleString('id')}
      tr
        td(colspan='7' style='font-weight: bold; font-size: 12px')
          | PPn ( Vendor PKP )
        td(style='font-weight: bold; font-size: 12px')
          | Rp. #{parseInt(data.invoice.ppn_nominal).toLocaleString('id') || '0'} 
      tr
        td(colspan='7' style='font-weight: bold; font-size: 12px')
          | PPh
        td(style='font-weight: bold; font-size: 12px')
          | Rp. #{parseInt(data.invoice.pph_nominal).toLocaleString('id') || '0'} 
      tr
        td(colspan='7' style='font-weight: bold; font-size: 12px')
          | Penalty
        td(style='font-weight: bold; font-size: 12px')
          | Rp. #{parseInt(data.invoice.penalty_nominal).toLocaleString('id') || '0'} 
      tr
        td(colspan='7' style='font-weight: bold; font-size: 12px')
          | Grand Total
        td(style='font-weight: bold; font-size: 12px')
          | Rp. #{parseInt(data.invoice.total_amount).toLocaleString('id') || '0'} 
  .footer
    .payment-information(style='margin-bottom: 10px')
      p(style='font-size: 14px; font-weight: bold')
        | Silahkan melakukan pembayaran di account di bawah ini :
      p(style='\
      font-size: 14px;\
      font-weight: 600;\
      margin-top: 5px;\
      margin-bottom: 5px;\
      ')
        | Nama Bank :
        span(style='font-weight: 400') #{data.invoice.vendor.bank.bank_name}
      p(style='\
      font-size: 14px;\
      font-weight: 600;\
      margin-top: 5px;\
      margin-bottom: 5px;\
      ')
        | Nama Akun :
        span(style='font-weight: 400') #{data.invoice.vendor.account_name}
      p(style='\
      font-size: 14px;\
      font-weight: 600;\
      margin-top: 5px;\
      margin-bottom: 5px;\
      ')
        | Nomor Akun :
        span(style='font-weight: 400') #{data.invoice.vendor.account_number}
    .payment-evidence(style='margin-bottom: 10px')
      p(style='font-size: 14px; font-weight: bold')
        | Silahkan kirim bukti bayar anda melalui:
      p(style='\
      font-size: 14px;\
      font-size: 14px;\
      margin-top: 5px;\
      margin-bottom: 5px;\
      ')
        strong WA :
        |  #{data.invoice.vendor.phone_number}
      p(style='\
      font-size: 14px;\
      font-size: 14px;\
      margin-top: 5px;\
      margin-bottom: 5px;\
      ')
        strong Email :
        |  #{data.invoice.vendor.email_address}
  .signature(style='width: 100%; margin-top: 50px')
    table(width='100%' cellpadding='0' cellspacing='0' style='table-layout: fixed')
      tr
        td(style='\
        text-align: center;\
        width: 60%;\
        vertical-align: top;\
        padding-right: 20px;\
        ')
        td(style='\
        text-align: start;\
        width: 40%;\
        vertical-align: top;\
        ')
          div(style='font-weight: 600;')
            | Tanda Tangan,
          div(style='font-weight: 600; margin-bottom: 150px')
            | #{dayName}, #{day} #{month} #{year}

          table(width='100%' cellpadding='0' cellspacing='0' style='margin-top: 40px')
            tr
              td(style='\
              text-align: start;\
              vertical-align: top;\
              ')
                .signature-line(style='\
                width: 250px;\
                margin-bottom: 10px;\
                border-bottom: 1px solid #000;\
                display: inline-block;\
                ')
                div(style='font-size: 14px')
                  | #{data.invoice.vendor.company_name}
