doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Template PDF Invoice
  style.
    * {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    }
    /* Container */
    #invoice {
    max-width: 991px;
    margin: 20px auto;
    padding: 15px;
    }
    .d-flex {
      display: flex;
    }
    .justify-content-between {
      justify: space-between;
    }
    .row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    }
    .mb-3 {
    margin-bottom: 20px;
    }
    .fw-semibold {
    font-weight: 600;
    }
    .col-12,
    .col-xxl-8,
    .col-xl-8,
    .col-lg-8,
    .col-md-8,
    .col-md-6,
    .col-xxl-6,
    .col-xl-6,
    .col-lg-6,
    .col-md-6,
    .col-sm-12,
    .col-xs-12,
    .col-xxl-4,
    .col-xl-4,
    .col-md-4,
    .col-sm-12 {
    padding-right: 15px;
    padding-left: 15px;
    box-sizing: border-box;
    }
    .col-12 {
    flex: 0 0 100%;
    max-width: 100%;
    }
    .col-xxl-8,
    .col-xl-8,
    .col-lg-8,
    .col-md-8 {
    flex: 0 0 66.67%;
    max-width: 66.67%;
    }
    .col-xxl-6,
    .col-xl-6,
    .col-lg-6,
    .col-md-6 {
    flex: 0 0 50%;
    max-width: 50%;
    }
    .col-xxl-4,
    .col-xl-4,
    .col-md-4 {
    flex: 0 0 33.33%;
    max-width: 33.33%;
    }
    .col-sm-12,
    .col-xs-12 {
    flex: 0 0 100%;
    max-width: 100%;
    }
    /* Header */
    .vendor-information h1 {
    color: #007eb4;
    font-size: 30px;
    padding-bottom: 10px;
    }
    .invoice-information h1 {
    color: #484747;
    font-size: 30px;
    padding-bottom: 10px;
    }
    /* Content */
    .table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 1rem;
    background-color: transparent;
    }
    .table th,
    .table td {
    padding: 0.75rem;
    vertical-align: top;
    border: 1px solid #dee2e6;
    }
    .table th {
    font-size: 14px;
    font-weight: 600;
    color: white;
    background-color: #555555;
    }
    .table td {
    font-size: 12px;
    }
    .text-end {
    text-align: right;
    }
    .text-center {
    text-align: center;
    }
    /* Footer */
    .payment-information .payment-method,
    .payment-information .payment-evidence {
    margin-bottom: 10px;
    }
    .signature-line {
    width: 200px;
    margin: 150px 0 10px 0;
    border-bottom: 1px solid #000;
    }
    @media screen and (max-width: 991px) {
    .vendor-information {
    padding: 0;
    margin-bottom: 20px;
    }
    .receiver-information {
    padding: 0;
    margin-bottom: 20px;
    }
    .invoice-information {
    padding: 0;
    margin-bottom: 20px;
    }
    .notes {
    padding: 0;
    margin-bottom: 20px;
    }
    }
    @media screen and (max-width: 768px) {
    .signature {
    justify-content: start !important;
    }
    .signature-wrapper {
    flex-direction: column;
    }
    }
    @media screen and (max-width: 576px) {
    .approver-wrapper {
    flex-direction: column;
    }
    }
    @media print {
    .table-responsive {
    overflow: visible !important;
    max-height: none !important;
    }
    .invoice-wrapper {
    margin-top: 3rem;
    margin-bottom: 3rem;
    min-height: 50vh;
    page-break-after: always;
    }
    .footer {
    margin-top: 1rem;
    page-break-before: always;
    }
    }
section#invoice
  - const days = ['Minggu', 'Senin', 'Selasa', 'Rabu', 'Kamis', 'Jumat', 'Sabtu'];
  - const months = ['Januari', 'Februari', 'Maret', 'April', 'Mei', 'Juni', 'Juli', 'Agustus', 'September', 'Oktober', 'November', 'Desember'];
  - const today = new Date();
  - const dayName = days[today.getDay()];
  - const day = today.getDate();
  - const month = months[today.getMonth()];
  - const year = today.getFullYear();
  - const currentMonth = today.getMonth();
  - const previousMonth = currentMonth === 0 ? 11 : currentMonth - 1;
  - const currentYear = today.getFullYear();
  - const previousYear = currentMonth === 0 ? currentYear - 1 : currentYear;
  .invoice-wrapper
    .header.mb-3
      .d-flex.justify-content-between 
          .vendor-information
            h1 #{data.invoice.vendor.company_name}
            div
              | #{data.invoice.vendor.address}
          .invoice-information
            h1 INVOICE
            div
              | Invoice ID: 
              span #{data.invoice.id}
            div
              | Tanggal dibuat:
              - var formateCreatedAt = new Date(data.invoice.created_at).toLocaleDateString('id-ID', { year: 'numeric', month: 'long', day: 'numeric' });
              span #{formatedCreatedAt}
            div
              | Periode:
              span #{months[previousMonth]} - #{months[currentMonth]} #{previousMonth > currentMonth ? previousYear : currentYear}
            div
              | Tanggal diberikan kepada Finance:
              span
                | #{data.invoice.invoice_to_finance_date}
      .row
        .col-md-6
          .receiver-information
            div Ditunjukkan kepada :
            div
              strong PT Catur Mitra Sejati Sentosa
            div
              | Jl. Gading Serpong Boulevard Blok mitra 10,
              | Curug Sangereng, Kec. Klp. Dua, Kabupaten
              | Tangerang, Banten 15820
            div Telp : 0878-8482-1089
        .col-md-6
    .content
      table.table.table-bordered
        thead
          tr
            th No. Invoice
            th Order ID
            th.text-center Tanggal Order
            th Nama Toko
            th.text-center Nama Konsumen
            th.text-center Tipe Order
            th.text-center No. Receipt
            th.text-center Total Harga
        tbody
        each item, index in data.invoice.invoice_details
          tr(key=`${index} - quotation details`)  
            td #{item.invoice_number} 
            td #{item.order_id}
            - const orderCreatedAt = new Date(item.order.created_at).toLocaleDateString('id-ID', { year: 'numeric', month: 'long', day: 'numeric' });
            td.text-center #{orderCreatedAt}
            td #{item.order.store.store_name}
            td.text-center #{item.order.members.full_name}
            td.text-center #{item.order.payment_type}
            td.text-center #{item.order.payment_type === 'survey' && item.type === 2 ? item.order.quotation[0].receipt_quotation || '-' : item.order.receipt_number}
            td #{item.order.payment_type === 'survey' && item.type === 2 ? `Rp. ${parseInt(item.order.quotation[0].quotation_grand_total|| 0).toLocaleString('id')}`  : `Rp. ${parseInt(item.order.grand_total|| 0).toLocaleString('id')}`}
        tr
          td.text-end(colspan='7') Total
          td Rp. #{data.invoice.invoice_details.reduce((acc, curr) => acc + Number(curr.total), 0).toLocaleString('id')}
        tr
          td.text-end(colspan='7')
            | PPn ( Vendor PKP )
          td Rp. #{parseInt(data.invoice.ppn_nominal).toLocaleString('id') || '0'} 
        tr
          td.text-end(colspan='7') PPh
          td Rp. #{parseInt(data.invoice.pph_nominal).toLocaleString('id') || '0'} 
        tr
          td.text-end(colspan='7') Penalty
          td Rp. #{parseInt(data.invoice.penalty_nominal).toLocaleString('id') || '0'} 
        tr
          td.text-end(colspan='7')
            | Grand Total
          td Rp. #{parseInt(data.invoice.total_amount).toLocaleString('id') || '0'} 
    .footer
      .payment-information
        .payment-method
          .fw-semibold
            | Silahkan melakukan pembayaran di account di
            | bawah ini :
          div Nama Akun : #{data.invoice.vendor.company_name}
          div Nomor Akun : #{data.invoice.vendor.account_number}
        .payment-evidence
          .fw-semibold
            | Silahkan kirim bukti bayar anda melalui :
          div WA : #{data.invoice.vendor.phone_number}
          div Email : #{data.invoice.vendor.email_address}
      .signature.row
        .col-8.col-xxl-8.col-xl-8.col-md-8
        .col-4.col-xxl-4.col-xl-4.col-md-4
          .fs-6.fw-semibold Tanda Tangan :
          .fs-6.fw-semibold
            | #{dayName}, #{day} #{month} #{year}
          .signature-line
          .fs-6 #{data.invoice.vendor.company_name}
