.col-md-12.col-sm-12
          .card-body
            h3.fs-6.fw-normal.mb-1 Hi, #{data.members.full_name}
            h3.fs-6.fw-bold.mb-5 Terima kasih telah melakukan order Layanan Jasa Instalasi & Service Mitra10
            h3.fs-6.fw-bold.mb-1 Detail Pemesanan
            table.table.table-hover.table-responsive.table-bordered
              thead
                tr
                  th Item Code
                  th Item Name
                  th Nama Jasa Pemasangan
                  th QTY Pemasangan
                  if data.payment_type !== 'gratis' && data.payment_type !== 'survey'
                    th Harga Jasa
                    th Jumlah
              tbody
                each item, index in data.order_details
                  tr(key=`${index} - order_detail`)
                    td= item.item_code === 'null' ? '-' : (item.item_code || '-')
                    td= item.item_name === 'null' ? '-' : (item.item_name || '-')
                    td= data.payment_type === 'survey' ? item.item_notes : item.item.service_name
                    td= item.quantity || 0
                    if data.payment_type !== 'gratis' && data.payment_type !== 'survey'
                      td= `Rp. ${parseInt(item.unit_price || 0).toLocaleString('id')}`
                      td= `Rp. ${parseInt(item.total || 0).toLocaleString('id')}`
                if data.payment_type !== 'gratis' && data.payment_type !== 'pemasangan_tanpa_survey'
                  tr
                    td(colspan=3, class='text-end fw-bolder') Biaya Survey
                    td(class='fw-bolder')= data.payment_type === 'gratis' || data.payment_type === 'pemasangan_tanpa_survey' ? `Rp. ${(0).toLocaleString('id')}` : data.payment_type === 'survey' ? `Rp. ${(99000).toLocaleString('id')}` : `Rp. ${0}`
                if data.payment_type !== 'survey'
                  tr
                    td(colspan=data.payment_type !== 'gratis' ? 5 : 3, class='text-end fw-bolder') Grand Total
                    td(class='fw-bolder')= data.payment_type === 'gratis' ? `Rp. ${(0).toLocaleString('id')}` : data.payment_type === 'pemasangan_tanpa_survey' ? `Rp. ${parseInt(data.grand_total).toLocaleString('id')}` : data.payment_type === 'survey' ? `Rp. ${(99000).toLocaleString('id')}` : `Rp. ${(0).toLocaleString('id')}`
            h3.fs-6.fw-bold.mb-1 Detail Pemasangan
            .row.mb-5
              .col
                h3.fs-6.fw-semibold.mb-1= data.members.full_name
                h3.fs-6.fw-normal.mb-1= data.project_address
                h3.fs-6.fw-normal.mb-1 Telp : #{data.project_number}
              .col
            .announcement.mb-3
              h3.fs-6.fw-normal Transaksi Anda telah berhasil dengan nomor Order ID #{data.id}
              h3.fs-6.fw-normal Silahkan unduh file yang terlampir pada email ini untuk mencetak Tanda Terima transaksi Anda.
              h3.fs-6.fw-normal Untuk menghubungi Admin Instalasi kami melalui Whatsapp melalui nomor 087884821089