doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    | &#x9;&#x9;
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    | &#x9;&#x9;
    title Quotation Confirmation
    | &#x9;&#x9;
    link(href='https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap' rel='stylesheet')
    | &#x9;&#x9;
    script(src='https://cdn.tailwindcss.com')
    | &#x9;
    style.
      ul.list-disc {
      margin: auto;
      padding: 0 0 0 50px !important;
      }
  | &#x9;
  | &#x9;
  body.bg-gray-100.font-sans.leading-normal.tracking-normal
    .max-w-3xl.mx-auto.bg-white.shadow-md.rounded-lg.overflow-hidden
      // Header
      .p-0
        img.w-full.h-auto(src='https://i.ibb.co.com/LhrxWt7/header-email-instalasi-01.jpg' alt='Banner Image')
      | &#x9;&#x9;&#x9;
      .p-4.flex.flex-col.justify-between.items-center(class='md:flex-row')
        img.h-12(src='https://csahome.com/wp-content/uploads/2020/06/mitra10.png' alt='Mitra 10 Logo')
        | &#x9;&#x9;&#x9;&#x9;
        p.ml-4.text-2xl.font-bold.text-center
          | Instalasi &amp; Service Mitra 10
        | &#x9;&#x9;&#x9;&#x9;
        .text-center(class='md:text-right')
          p.text-lg.font-bold Quotation ID: #{data.quotation.id}
          | &#x9;&#x9;&#x9;&#x9;&#x9;
          p.text-sm Order ID: #{data.quotation.order.id}
      .p-6
        h1.text-2xl.font-bold.mb-4 Quotation Confirmation
        | &#x9;&#x9;&#x9;&#x9;
        span.mb-4.text-gray-700
          | #{data.message.welcome_header}, #{data.quotation.order.members.full_name}
          | #{data.message.greetings}
          p.mb-4.text-gray-700
            | Berikut detail pemesanan Anda:
        table.w-full.text-left.table-auto.border-collapse.mb-6
          thead
            tr
              th.border.px-4.py-2 Jenis Jasa
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              th.border.px-4.py-2 QTY
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              th.border.px-4.py-2 Satuan
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              th.border.px-4.py-2 Final Price
          | &#x9;&#x9;&#x9;&#x9;&#x9;
          tbody
            each item, index in data.quotation.quotation_details.filter((x) => x.item_type === 2)
              tr(key=${index} - quotation details)               
                td= item.name ? item.name : '-'
                td= item.quantity ? (item.quantity ) : '-'
                td= item.unit ? item.unit : '-'
                - var formattedFinalPrice = 'Rp. ' + item.final_price.toString().replace(/\B(?=(\d{3})+(?!\d))/g, '.')
                td= formattedFinalPrice
        table.w-full.text-left.table-auto.border-collapse.mb-6
          thead
            tr
              th.border.px-4.py-2
                | Material Yang Dibutuhkan
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              th.border.px-4.py-2 QTY
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              th.border.px-4.py-2 Satuan
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              th.border.px-4.py-2 Final Price
          | &#x9;&#x9;&#x9;&#x9;&#x9;
          tbody
            each item, index in data.quotation.quotation_details.filter((x) => x.item_type === 1)
              tr(key=${index} - quotation details)               
                td= item.name ? item.name : '-' + (item.is_customer === true ? '( Disediakan oleh customer )' : '')
                td= item.quantity ? (item.quantity ) : '-'
                td= item.unit ? item.unit : '-'
            - var formattedFinalPrice = 'Rp. ' + item.final_price.toString().replace(/\B(?=(\d{3})+(?!\d))/g, '.')
            td= formattedFinalPrice
            - var reducedTotal = 0
            - data.quotation.quotation_details.forEach(detail => {
            -   var reducedPrice = parseFloat(detail.final_price) // Pastikan harga final sebagai angka
            -   reducedTotal += reducedPrice
            - })
            - var formattedReducedTotal = 'Rp. ' + reducedTotal.toFixed(0).replace(/\B(?=(\d{3})+(?!\d))/g, '.').replace('.', ',')
            tr
              td.border.px-4.py-2(colspan='3')
                p.text-right.font-bold Total
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              td.border.px-4.py-2(colspan='3')
                p.text-right #{formattedReducedTotal}
            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
            tr
              td.border.px-4.py-2(colspan='3')
                p.text-right.font-bold
                  | Additional Promotion  (#{data.quotation.promotion ? data.quotation.promotion.name : ''})
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              - var formattedTotal = data.quotation.promotion && data.quotation.promotion.promotion ? 'Rp. ' + data.quotation.promotion.promotion.toString().replace(/\B(?=(\d{3})+(?!\d))/g, '.') : 'Rp. 0' 
              td.border.px-4.py-2(colspan='3')
                p.text-right #{formattedTotal}
            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
            tr
              td.border.px-4.py-2(colspan='3')
                p.text-right.font-bold Grand Total
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              td.border.px-4.py-2(colspan='3')
              - var formattedTotal = 'Rp. ' + data.quotation.quotation_grand_total.toString().replace(/\B(?=(\d{3})+(?!\d))/g, '.')
                p.text-right #{formattedTotal}
        .customer-information
          h2.text-2xl.font-bold.mb-4
            | Customer Information
          | &#x9;&#x9;&#x9;&#x9;&#x9;
          .mb-5
            p.text-gray-700
              strong Name:
              |  #{data.quotation.order.members.full_name}
            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
            p.text-gray-700
              strong Email:
              |  #{data.quotation.order.members.email}
            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
            p.text-gray-700
              strong Phone:
              |  #{data.quotation.order.project_number}
            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
            p.text-gray-700
              strong Address:
              |  #{data.quotation.order.project_address}
        | &#x9;&#x9;&#x9;&#x9;
        p.mt-4.text-gray-700 #{data.message.footer}
        | &#x9;&#x9;&#x9;&#x9;
        p.mt-1.text-gray-700
          | Ini adalah email yang dikirimkan oleh sistem. Mohon untuk
          | tidak membalas email ini.
      // Etc
      .divide-y
        // Payment Instructions
        .p-6.bg-gray-100.shadow-inner
          h2.text-2xl.font-bold.mb-4
            | Payment Instructions
          | &#x9;&#x9;&#x9;&#x9;&#x9;
          .payment-information.mb-3
            p.mb-2.text-gray-700.font-semibold
              | 1. Silahkan melakukan pembayaran di account di bawah
              | ini:
            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
            ul.list-disc
              li.text-gray-700 Bank: #{data.quotation.store.bank_name}
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              li.text-gray-700
                | Account Number: #{data.quotation.store.bank_number}
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              li.text-gray-700 Account Name: #{data.quotation.store.bank_account}
          | &#x9;&#x9;&#x9;&#x9;&#x9;
          .payment-evidence
            p.mb-2.text-gray-700.font-semibold
              | 2. Silahkan kirim bukti bayar anda melalui:
            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
            ul.list-disc
              li.text-gray-700
                | Email: #{data.quotation.store.email ? data.quotation.store.email : 'Email belum tersedia'}
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              li.text-gray-700
                | Whatsapp: #{data.quotation.store.phone_number_1 ? data.quotation.store.phone_number_1 : data.quotation.store.phone_number_2}
        // Information
        .p-6.bg-gray-100
          h2.text-2xl.font-bold.mb-4 Information
          | &#x9;&#x9;&#x9;&#x9;&#x9;
          p.mb-2.text-gray-700
            | 1. All sales are final. No returns or exchanges will be
            | accepted.
          | &#x9;&#x9;&#x9;&#x9;&#x9;
          p.mb-2.text-gray-700
            | 2. Payment must be made in full before the order is
            | processed.
        // Terms and Conditions
        .p-6.bg-gray-100
          h2.text-2xl.font-bold.mb-4
            | Terms and Conditions
          | &#x9;&#x9;&#x9;&#x9;&#x9;
          p.mb-2.text-gray-700
            | 1. All sales are final. No returns or exchanges will be
            | accepted.
          | &#x9;&#x9;&#x9;&#x9;&#x9;
          p.mb-2.text-gray-700
            | 2. Payment must be made in full before the order is
            | processed.
          | &#x9;&#x9;&#x9;&#x9;&#x9;
          p.mb-2.text-gray-700
            | 3. Delivery times are estimates and may vary based on
            | location and availability.
          | &#x9;&#x9;&#x9;&#x9;&#x9;
          p.mb-2.text-gray-700
            | 4. We are not responsible for any damages or losses
            | incurred during shipping.
          | &#x9;&#x9;&#x9;&#x9;&#x9;
          p.mb-2.text-gray-700
            | 5. By placing an order, you agree to our terms and
            | conditions.
      // Footer
      .bg-gray-200.p-4.text-center
        p.text-sm
          | If you have any questions, feel free to contact us at
          | customer.relation@mitra10.com
        | &#x9;&#x9;&#x9;&#x9;
        p.text-sm &copy; 2024 Mitra10. All rights reserved.
      // After Footer
      .p-0
        img.w-full.h-auto(src='https://i.ibb.co.com/WfLzSHp/footer-email-instalasi-02.jpg' alt='Banner Image')