doctype html
html(lang="en")
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    link(href='https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css' rel='stylesheet' integrity='sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC' crossorigin='anonymous')
    title Preview Email Invoice

  style.
    #preview-email {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    #preview-email .card {
      width: 900px;
    }

    #preview-email .card .card-body {
      min-height: 100vh;
      padding: 3rem 3rem !important;
    }

    #preview-email .card-header {
      display: block !important;
      background-color: #183383;
      min-height: 80px;
    }

    #preview-email .content-header.row {
      margin: 20px;
    }

    #preview-email .header-logo {
      display: flex;
      align-items: center;
    }

    @media screen and (max-width: 400px) {
      #preview-email .header-logo {
        display: flex;
        flex-direction: column;
        align-items: center;
      }

      #preview-email .header-information {
        text-align: center;
      }

      #preview-email .header-logo img {
        height: 50px !important;
        padding-right: 0 !important;
      }

      #preview-email .header-logo h1 {
        margin-bottom: 15px !important;
        padding-left: 0 !important;
      }
    }

  body
    section#preview-email
      .card
        .card-header
          .content-header.row
            .col-md-6.col-sm-12
              .header-logo
                img.h-30px.logo.mb-3.pe-1(src=('https://seeklogo.com/images/M/mitra-10-logo-5C2346D8FD-seeklogo.com.png'), alt='Logo Mitra10' style="width: 100px; heigth: 50px;")
                h1.ps-1.fs-5.fw-bold.text-white Instalasi & Service Mitra 10
            .col-md-6.col-sm-12
              .header-information
                h1.fs-6.fw-bold.mb-2.text-white Quotation ID :
                  span.fw-normal.text-white= data.quotation.id 
                h1.fs-6.fw-bold.mb-2.text-white Order ID :
                  span.fw-normal.text-white=  data.quotation.order_id

                //-  a(href=`uploads/pdf/order/order_${data.order.id}.pdf`, download=`order_${data.order.id}.pdf`) Unduh PDF
        .col-md-12.col-sm-12
        .card-body
          h3.fs-6.fw-normal.mb-1 #{data.message.greetings}
          h3.fs-6.fw-bold.mb-1 Detail Pemesanan
          table.table.table-hover.table-responsive.table-bordered
            thead
              tr
                th Item Id
                th Item Type
                th Nama
                th Harga
                th Quantity
                th Margin
                th Harga Akhir
            tbody
              each item, index in data.quotation.quotation_details
                tr(key=`${index} - quotation details`)               
                  td= item.item_id ? (item.item_id || '-') : '-'
                  td= item.item_type === 2 ? 'Material' : 'Jasa'
                  td= item.name && item_name !== 'null' ? (item.item_name || '-') : '-'
                  td= item.price || 0
                  td= item.quantity && item.quantity !== 'null' ? (item.quantity || 0) : '-'
                  td= item.final_price || 0

          h3.fs-6.fw-bold.mb-1 Detail Pemasangan
          .row.mb-5
            .col
              h3.fs-6.fw-semibold.mb-1= data.quotation.order.members.full_name
              h3.fs-6.fw-normal.mb-1= data.quotation.order.project_address
              h3.fs-6.fw-normal.mb-1 Telp : #{data.quotation.order.project_number}
            .col
          .announcement.mb-3
            h3.fs-6.fw-normal Transaksi Anda telah berhasil dengan nomor Order ID #{data.quotation.order_id}
            h3.fs-6.fw-normal Silahkan unduh file yang terlampir pada email ini untuk mencetak Tanda Terima transaksi Anda.
            h3.fs-6.fw-normal Untuk menghubungi Admin Instalasi kami melalui Whatsapp melalui nomor 087884821089
          .row.mt-5
            .col
              h3.fs-6.fw-bold.mb-1 Syarat & Ketentuan
              ol
              each item in data.message.terms_detail
                li.fs-7.fw-normal #{item.terms}
          .row
            .col
              h3.fs-6.fw-bold.mb-1 Informasi

              ol
              each item in data.message.information_detail
                li.fw-normal #{data.message.information}

          .payment-bank.mb-2
            h3.fs-6.fw-semibold Silahkan melakukan pembayaran di account di bawah ini :
            h3.fs-6.fw-normal= data.quotation.store.bank_account
            h3.fs-6.fw-normal= data.quotation.store.bank_name
            h3.fs-6.fw-normal= data.quotation.store.bank_number

          .store-information.mb-5
            h3.fs-6.fw-semibold Silahkan kirim bukti bayar anda melalui :
            h3.fs-6.fw-normal= `Telp : ${data.quotation.store.phone_number_1 ? data.quotation.store.phone_number_1 : data.quotation.store.phone_number_2}`
            h3.fs-6.fw-normal= `Email : ${data.quotation.store.email ? data.quotation.store.email : 'Email belum tersedia'}`

          .footer-card
            h1.fs-6.fw-semibold Hormat Kami, Mitra10
            h3.fs-6.fw-normal #{data.message.footer}


    script(src="https://code.jquery.com/jquery-3.5.1.slim.min.js", integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj", crossorigin="anonymous")
    script(src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js", integrity="sha384-ZMP7rVo3mIEX16tBdNveZPnhYH4bwe5Xz0xq3Q8rU2dKAfMXz1Fq2E4PYF9Gj5M9", crossorigin="anonymous")
    script(src="https://stackpath.bootstrapcdn.com/bootstrap/5.3.0/js/bootstrap.min.js", integrity="sha384-b0vP5GcaBBq9HGGz9Z1S1a7D4kRxQ8f3wx5TZlssq7mwz4nd5l8CQVwo+uU5fs0", crossorigin="anonymous")
