doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=0.4")
    title Quotation Confirmation
  body(style="background-color: rgb(242, 242, 242); font-family: Arial, sans-serif; line-height: 1.1; letter-spacing: normal;")
    .container(style="max-width: 100%;margin: 0 auto; background-color: #ffffff; border-radius: 0.5rem; overflow: hidden;")
      .header
        img(src=`${data.message && data.message.email_message_image && data.message.email_message_image.length > 0 ? `${data.apiUrl}/public/mails-image/${data.message.email_message_image.filter((x) => x.type === 1)[0].path}` : 'https://i.ibb.co.com/DpFCt8g/Whats-App-Image-2024-10-10-at-15-42-16-3d05600b.jpg'}`, alt="Banner Image" style="width: 100%; height: auto;")

      .order-details(style="padding-left: 16px; padding-right: 16px;")
        table(style="width: 100%;")
          tr
            td(style="text-align: left;")
              img(src="https://csahome.com/wp-content/uploads/2020/06/mitra10.png" alt="Mitra 10 Logo" style="height: 48px;")
            td(style="text-align: center;")
              p(style="font-size: 1.1rem; font-weight: bold;") Instalasi & Service Mitra 10
            td(style="text-align: right;")
              .order-id
                p(style="font-size: 1.1rem; font-weight: bold; margin: 0 !important;") Quotation ID: #{data.quotation.id}
                p(style="font-size: 1.1rem; margin: 0 !important;") Order ID : #{data.quotation.order.id}

      .divider(style="border-top: 1px solid #e5e7eb;")

      .content(style="padding-top: 16px; padding-left: 24px; padding-right: 24px;")
        h2(style="font-size:1.1rem; font-weight: bold; margin-bottom: 16px;") Informasi Pelanggan
        p(style="color: #4a5568;font-size:0.9rem;margin: 5px !important") Nama: #{data.quotation.order.members.full_name}
        p(style="color: #4a5568;font-size:0.9rem;margin: 5px !important") Email: #{data.quotation.order.project_number}
        p(style="color: #4a5568;font-size:0.9rem;margin: 5px !important") Nomor Telepon: #{data.quotation.order.project_address}
        p(style="color: #4a5568;font-size:0.9rem;margin: 5px !important") Alamat: #{data.quotation.order.project_address}
        p(style="color: #4a5568;font-size:0.9rem;margin-top:20px;margin-bottom:2px" ) #{data.message.welcome_header}, #{data.quotation.order.members.full_name}
        p(style="color: #4a5568; font-weight: bold; margin: 0 !important;font-size:0.9rem") Terima kasih telah melakukan order Layanan Jasa Instalasi & Service Mitra10
        p(style="color: #4a5568; font-weight: bold; margin: 0 !important;font-size:0.9rem") Berikut detail pemesanan Anda:

      .order-info(style="padding: 20px;")
        h1(style="font-size:1.1rem; font-weight: bold; margin-bottom: 16px;") Informasi Survei
        table(style="width: 100%; text-align: left; border-collapse: collapse; margin: 5px  !important;")
          thead
            tr
              th(style="min-width: 144px; max-width: 144px; border: 1px solid #e2e8f0; padding: 8px;") Kode Item
              th(style="min-width: 176px; max-width: 176px; border: 1px solid #e2e8f0; padding: 8px;") Nama Item
              th(style="min-width: 176px; max-width: 176px; border: 1px solid #e2e8f0; padding: 8px;") Nama Jasa Pemasangan
              th(style="border: 1px solid #e2e8f0; padding: 8px;") QTY Pemasangan
          tbody
            each item, index in data.quotation.order.m_order_details
              tr
                td(style="min-width: 144px; max-width: 144px; border: 1px solid #e2e8f0; padding: 8px; word-break: break-word; font-size: 0.875rem;") #{item.item ? item.item.item_code : item.item_code || ''}
                td(style="min-width: 176px; max-width: 176px; border: 1px solid #e2e8f0; padding: 8px; font-size: 0.875rem;") #{item.item ? item.item.item_name : item.item_name || ''}
                td(style="min-width: 176px; max-width: 176px; border: 1px solid #e2e8f0; padding: 8px; font-size: 0.875rem;") #{item.item ? item.item.service_name || '' : item.item_name || ''}
                td(style="border: 1px solid #e2e8f0; padding: 8px; font-size: 0.875rem;") #{item.quantity || '0'}
            tr
              td(colspan="3" style="border: 1px solid #e2e8f0; padding: 8px; text-align: end; font-size: 0.875rem; font-weight: bold;") Biaya Survey
              - var formattedSurveyPrice = 'Rp. ' + data.quotation.order.grand_total.toString().replace(/\B(?=(\d{3})+(?!\d))/g, '.')
              td(style="border: 1px solid #e2e8f0; padding: 8px;") #{formattedSurveyPrice}
        .order-info(style="padding: 20px;")
        h1(style="font-size: 1.1rem; font-weight: 600; margin-bottom: 16px;") Konfirmasi Quotation
        table(style="width: 100%; text-align: left; border-collapse: collapse; margin-bottom: 24px;")
          thead
            tr
              th(style="min-width: 144px; max-width: 144px; border: 1px solid #e2e8f0; padding: 8px;") Jenis Jasa
              th(style="min-width: 176px; max-width: 176px; border: 1px solid #e2e8f0; padding: 8px;") QTY
              th(style="min-width: 176px; max-width: 176px; border: 1px solid #e2e8f0; padding: 8px;") Satuan 
              th(style="border: 1px solid #e2e8f0; padding: 8px;") Final Price
          tbody
            each item, index in data.quotation.quotation_details.filter((x) => x.item_type === 2)
              tr
                td(style="min-width: 144px; max-width: 144px; border: 1px solid #e2e8f0; padding: 8px; word-break: break-word; font-size: 0.875rem;")=item.name ? item.name : '-' 
                td(style="min-width: 176px; max-width: 176px; border: 1px solid #e2e8f0; padding: 8px; font-size: 0.875rem;")=item.quantity ? (item.quantity ) : '-' 
                td(style="min-width: 176px; max-width: 176px; border: 1px solid #e2e8f0; padding: 8px; font-size: 0.875rem;")=item.unit ? item.unit : '-' 
                - var formattedFinalPrice = 'Rp. ' + item.final_price.toString().replace(/\B(?=(\d{3})+(?!\d))/g, '.')
                td(style="border: 1px solid #e2e8f0; padding: 8px; font-size: 0.875rem;") #{formattedFinalPrice}

        table(style="width: 100%; text-align: left; border-collapse: collapse; margin-bottom: 24px;")
          thead
            tr
              th(style="min-width: 144px; max-width: 144px; border: 1px solid #e2e8f0; padding: 8px;") Material Yang Dibutuhkan
              th(style="min-width: 176px; max-width: 176px; border: 1px solid #e2e8f0; padding: 8px;") QTY
              th(style="min-width: 176px; max-width: 176px; border: 1px solid #e2e8f0; padding: 8px;") Satuan 
              th(style="border: 1px solid #e2e8f0; padding: 8px;") Final Price
          tbody
            each item, index in data.quotation.quotation_details.filter((x) => x.item_type === 1)
              tr
                td(style="min-width: 144px; max-width: 144px; border: 1px solid #e2e8f0; padding: 8px; word-break: break-word; font-size: 0.875rem;")= item.name ? item.name : '-' + (item.is_customer === true ? '( Disediakan oleh customer )' : '')
                td(style="min-width: 176px; max-width: 176px; border: 1px solid #e2e8f0; padding: 8px; font-size: 0.875rem;")= item.quantity ? (item.quantity ) : '-' 
                td(style="min-width: 176px; max-width: 176px; border: 1px solid #e2e8f0; padding: 8px; font-size: 0.875rem;")= item.unit ? item.unit : '-' 
                - var formattedFinalPriceItem = 'Rp. ' + item.final_price.toString().replace(/\B(?=(\d{3})+(?!\d))/g, '.')
                td(style="border: 1px solid #e2e8f0; padding: 8px; font-size: 0.875rem;") #{formattedFinalPriceItem}
            tr
              td(colspan="3" style="border: 1px solid #e2e8f0; padding: 8px; text-align: end; font-size: 0.8rem; font-weight: 600;") Total
              - var reducedTotal = 0
              - data.quotation.quotation_details.forEach(detail => {
              -   var reducedPrice = parseFloat(detail.final_price) 
              -   reducedTotal += reducedPrice
              - })
              - var formattedReducedTotal = 'Rp. ' + reducedTotal.toFixed(0).replace(/\B(?=(\d{3})+(?!\d))/g, '.').replace('.', ',')
              td(style="border: 1px solid #e2e8f0; padding: 8px;") #{formattedReducedTotal}
            tr
              td(colspan="3" style="border: 1px solid #e2e8f0; padding: 8px; text-align: end; font-size: 0.8rem; font-weight: 600;") Promosi
              - var formattedQuotationPromotion = data.quotation.quotation_promotion || data.quotation.quotation_promotion ? 'Rp. ' + (Number(data.quotation.quotation_promotion || 0) + Number(data.quotation.quotation_disc || 0)).toString().replace(/\B(?=(\d{3})+(?!\d))/g, '.') : 'Rp. 0' 
              td(style="border: 1px solid #e2e8f0; padding: 8px;") #{formattedQuotationPromotion}
            tr
              td(colspan="3" style="border: 1px solid #e2e8f0; padding: 8px; text-align: end; font-size: 0.8rem; font-weight: 600;") Additional Promosi (#{data.quotation.promotion ? data.quotation.promotion.name : ''})
              - var formattedPromotion = data.quotation.promotion  ? 'Rp. ' + data.quotation.promotion.promotion.toString().replace(/\B(?=(\d{3})+(?!\d))/g, '.') : 'Rp. 0' 
              td(style="border: 1px solid #e2e8f0; padding: 8px;") #{formattedPromotion}
            tr
              td(colspan="3" style="border: 1px solid #e2e8f0; padding: 8px; text-align: end; font-size: 0.8rem; font-weight: 600;") Grand Total
              - var formattedGrandTotal = 'Rp. ' + data.quotation.quotation_grand_total.toString().replace(/\B(?=(\d{3})+(?!\d))/g, '.')
              td(style="border: 1px solid #e2e8f0; padding: 8px;") #{formattedGrandTotal}


      .divider(style="border-top: 1px solid #e5e7eb;")


      .divider(style="border-top: 1px solid #e5e7eb;")
        div(style="page-break-after: always;")
      .payment-instructions(style="padding: 20px; margin-top: 1px")
        h2(style="font-size: 1.1rem; font-weight: 600; margin-bottom: 2px;") Intruksi Pembayaran
        p(style="margin-bottom: 2px; color: #4a5568; font-weight: 600; font-size:0.9rem") 1. Silahkan melakukan pembayaran di account di bawah ini:
        ul(style="list-style-type: disc; margin-left: 5px;margin-top:0")
          li(style="color: #4a5568; font-size:0.9rem") Bank:  #{data.quotation.store.bank_name}
          li(style="color: #4a5568;font-size:0.9rem ") Nomor Akun: #{data.quotation.store.bank_number}
          li(style="color: #4a5568;font-size:0.9rem") Nama Akun: #{data.quotation.store.bank_account}
        p(style="margin-bottom: 2px; color: #4a5568; font-weight: 600;font-size:0.9rem") 2. Silahkan kirim bukti bayar anda melalui:
        ul(style="list-style-type: disc; margin-left: 5px; margin-top:0")
          li(style="color: #4a5568;font-size:0.9rem") Email: #{data.quotation.store.email ? data.quotation.store.email : 'Email belum tersedia'}
          li(style="color: #4a5568;font-size:0.9rem") Whatsapp: #{data.quotation.store.phone_number_1 ? data.quotation.store.phone_number_1 : data.quotation.store.phone_number_2}

      .divider(style="border-top: 1px solid #e5e7eb;")

      .information(style="padding: 20px;")
        h2(style="font-size: 1.25rem; font-weight: 600; margin-bottom: 16px;") Informasi
        each item, index in data.message.information_detail
          p(style="margin-bottom: 8px; color: #4a5568;") #{index + 1 + '. ' + item.information}

      .divider(style="border-top: 1px solid #e5e7eb;")

      .terms-conditions(style="padding: 20px;")
        h2(style="font-size: 1.25rem; font-weight: 600; margin-bottom: 16px;") Syarat & Ketentuan
        each item, index in data.message.terms_detail
          p(style="margin-bottom: 8px; color: #4a5568;") #{index + 1 + '. ' + item.terms}
        img(src=`${data.message && data.message.email_message_image && data.message.email_message_image.length > 0  ? `${data.apiUrl}/public/mails-image/${data.message.email_message_image.filter((x) => x.type === 2)[0].path}` : 'https://i.ibb.co.com/7C3D0hF/footer-email-instalasi-02.jpg'}` alt="Banner Image" style="width: 100%; height: auto;")




