doctype html
html(lang="en")
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Preview Email Invoice

    style.
      body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
      }

      #preview-email {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px;
      }

      .card {
        width: 900px;
        border: 1px solid #ddd;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        margin-top: 20px;
      }

      .card-header {
        background-color: #183383;
        color: #fff;
        padding: 20px;
      }

      .content-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;
      }

      .header-logo img {
        width: 100px;
        height: 50px;
        margin-right: 10px;
      }

      .header-title h1 {
        font-size: 24px;
        margin: 0;
        padding: 0;
      }

      .card-body {
        padding: 20px;
      }

      table {
        width: 100%;
        border-collapse: collapse;
        margin-bottom: 20px;
      }

      th, td {
        border: 1px solid #ddd;
        padding: 8px;
        text-align: left;
      }

      .announcement {
        margin-bottom: 20px;
      }

      .footer-card {
        padding: 20px;
        background-color: #f5f5f5;
        border-top: 1px solid #ddd;
        text-align: center;
      }

  body
    section#preview-email
      .card
        .card-header
          .content-header
            .header-logo
              img.logo(src='https://seeklogo.com/images/M/mitra-10-logo-5C2346D8FD-seeklogo.com.png', alt='Logo Mitra10')
              .header-title
                h1 Instalasi & Service Mitra 10
            .header-information
              h1 Quotation ID :
                span(data-quotation-id)= data.quotation.id 
              h1 Order ID :
                span(data-order-id)=  data.quotation.order_id

        .card-body
          h3 #{data.message.greetings}
          h3 Detail Pemesanan
          table
            thead
              tr
                th Item Dari Customer
                th Item Type
                th Nama
                th Quantity
                th Harga Akhir
            tbody
              each item, index in data.quotation.quotation_details
                tr(key=`${index} - quotation details`)               
                  td= item.is_customer === true ? 'IYA' : 'TIDAK'
                  td= item.item_type === 2 ? 'Material' : 'Jasa'
                  td= item.name ? item.name : '-'
                  td= item.quantity ? (item.quantity ) : '-'
                  td= item.final_price 

          h3 Detail Pemasangan
          .row
            .col
              h3 Nama: data.quotation.order.members.full_name
              h3 Alamat: data.quotation.order.project_address
              h3 Telp : #{data.quotation.order.project_number}
            .col
          .announcement
            h3 Transaksi Anda telah berhasil dengan nomor Order ID #{data.quotation.order_id}
            h3 Silahkan unduh file yang terlampir pada email ini untuk mencetak Tanda Terima transaksi Anda.
            h3 Untuk menghubungi Admin Instalasi kami melalui Whatsapp melalui nomor 087884821089
          .row
            .col
              h3 Syarat & Ketentuan
            .div
                ol
                  each item in data.message.terms_detail
                    li #{item.terms}
          .row
            .col
              h3 Informasi
            .div
                ol
                  each item in data.message.information_detail
                    li #{item.information}

          .payment-bank
            h3 Silahkan melakukan pembayaran di account di bawah ini :
            h3= data.quotation.store.bank_account
            h3= data.quotation.store.bank_name
            h3= data.quotation.store.bank_number

          .store-information
            h3 Silahkan kirim bukti bayar anda melalui :
            h3 Telp : #{data.quotation.store.phone_number_1 ? data.quotation.store.phone_number_1 : data.quotation.store.phone_number_2}
            h3 Email : #{data.quotation.store.email ? data.quotation.store.email : 'Email belum tersedia'}

          .footer-card
            h1 Hormat Kami, Mitra10
            h3 #{data.message.footer}
