doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Quotation Confirmation
    link(href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap" rel="stylesheet")
  style.
    table {
    width: 100%;
    text-align: left;
    border-collapse: collapse;
    margin-bottom: 24px;
    }
    table.table-responsive th {
    max-width: 144px;
    min-width: 144px;
    border: 1px solid #e2e8f0;
    padding: 8px;
    }
    table.table-responsive th,
    td {
    max-width: 144px;
    min-width: 144px;
    border: 1px solid #e2e8f0;
    padding: 8px;
    word-break: break-word;
    font-size: 0.875rem;
    }
    table.table-responsive-header {
    display: none;
    }
    table.table-desktop-header {
    display: table;
    }
    .order-title {
    display: none;
    }
    .ui-desktop {
    display: block;
    }
    .ui-mobile {
    display: none;
    }
    @media (max-width: 600px) {
    h1 {
    font-size: 18px;
    }
    p {
    font-size: 12px;
    }
    li {
    font-size: 12px;
    }
    th,
    td {
    font-size: 12px;
    }
    table.table-responsive-header {
    display: table;
    }
    table.table-desktop-header {
    display: none;
    }
    table.table-responsive th,
    td {
    max-width: fit-content;
    min-width: fit-content;
    }
    .order-title {
    display: block;
    }
    .ui-desktop {
    display: none;
    }
    .ui-mobile {
    display: block;
    }
    }
    @media (max-width: 375px) {
    table.table-responsive {
    overflow-x: auto;
    display: block;
    width: 100%;
    }
    }
  body(style="background-color: rgb(242, 242, 242); font-family: 'Poppins', sans-serif; line-height: 1.6; letter-spacing: normal;")
    .container(style="max-width: 768px; margin: 0 auto; background-color: #ffffff; box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); border-radius: 0.5rem; overflow: hidden;")
      .header
        img(src=`${data.message && data.message.email_message_image && data.message.email_message_image.length > 0 ? `${data.apiUrl}/public/mails-image/${data.message.email_message_image.filter((x) => x.type === 1)[0].path}` : 'https://i.ibb.co/LhrxWt7/header-email-instalasi-01.jpg'}`, alt="Banner Image" style="width: 100%; height: auto;")

      .order-details(style="padding-left: 16px; padding-right: 16px;")
        table(style="width: 100%;")
          tr
            td(style="text-align: left;")
              img(src="https://csahome.com/wp-content/uploads/2020/06/mitra10.png" alt="Mitra 10 Logo" style="height: 48px;")
            td(style="text-align: center;")
              p(style="font-size: 1.25rem; font-weight: 600;") Instalasi & Service Mitra 10
            td(style="text-align: right;")
              .order-id
                p(style="font-size: 1.125rem; font-weight: 600; margin: 0 !important;") Quotation ID: #{data.quotation && data.quotation.id ? data.quotation.id : 'N/A'}
                p(style="font-size: 0.875rem; margin: 0 !important;") Order ID : #{data.quotation && data.quotation.order && data.quotation.order.id ? data.quotation.order.id : 'N/A'}

      .divider(style="border-top: 1px solid #e5e7eb;")

      .content(style="padding-top: 16px; padding-left: 24px; padding-right: 24px;")
        p(style="color: #4a5568;") #{data.message && data.message.welcome_header ? data.message.welcome_header : 'Hi'}, #{data.quotation && data.quotation.order && data.quotation.order.members && data.quotation.order.members.full_name ? data.quotation.order.members.full_name : 'Customer'}
        p(style="color: #4a5568; font-weight: 600; margin: 0 !important;") Terima kasih telah melakukan order Layanan Jasa Instalasi & Service Mitra10
        p(style="color: #4a5568; font-weight: 600; margin: 0 !important;") Berikut detail pemesanan Anda:

      .order-info(style="padding: 20px;")
        h1(style="font-size: 1.25rem; font-weight: 600; margin-bottom: 16px;") Informasi Survei
        table(style="width: 100%; text-align: left; border-collapse: collapse; margin-bottom: 24px;")
          thead
            tr
              th(style="min-width: 144px; max-width: 144px; border: 1px solid #e2e8f0; padding: 8px;") Kode Item
              th(style="min-width: 176px; max-width: 176px; border: 1px solid #e2e8f0; padding: 8px;") Nama Item
              th(style="min-width: 176px; max-width: 176px; border: 1px solid #e2e8f0; padding: 8px;") Nama Jasa Pemasangan
              th(style="border: 1px solid #e2e8f0; padding: 8px;") QTY Pemasangan
          tbody
            if data.quotation && data.quotation.order && data.quotation.order.m_order_details && data.quotation.order.m_order_details.length > 0
              each item, index in data.quotation.order.m_order_details
                tr
                  td(style="min-width: 144px; max-width: 144px; border: 1px solid #e2e8f0; padding: 8px; word-break: break-word; font-size: 0.875rem;") #{item && item.item && item.item.item_code ? item.item.item_code : (item && item.item_code ? item.item_code : '-')}
                  td(style="min-width: 176px; max-width: 176px; border: 1px solid #e2e8f0; padding: 8px; font-size: 0.875rem;") #{item && item.item && item.item.item_name ? item.item.item_name : (item && item.item_name ? item.item_name : '-')}
                  td(style="min-width: 176px; max-width: 176px; border: 1px solid #e2e8f0; padding: 8px; font-size: 0.875rem;") #{item && item.item && item.item.service_name ? item.item.service_name : (item && item.item_name ? item.item_name : '-')}
                  td(style="border: 1px solid #e2e8f0; padding: 8px; font-size: 0.875rem;") #{item && item.quantity ? item.quantity : '0'}
            tr
              td(colspan="3" style="border: 1px solid #e2e8f0; padding: 8px; text-align: end; font-size: 0.875rem; font-weight: 600;") Biaya Survey
              - var surveyPrice = data.quotation && data.quotation.order && data.quotation.order.grand_total ? data.quotation.order.grand_total : '0'
              - var formattedSurveyPrice = 'Rp. ' + surveyPrice.toString().replace(/\B(?=(\d{3})+(?!\d))/g, '.')
              td(style="border: 1px solid #e2e8f0; padding: 8px;") #{formattedSurveyPrice}

      .divider(style="border-top: 1px solid #e5e7eb;")

      //- Di dalam .content, setelah paragraf terakhir
      if data.quotation && data.quotation.order && data.quotation.order.id
        .download-section(style="margin-top: 24px; text-align: center; padding-bottom: 16px;")
          p(style="font-size: 0.95rem; color: #4b5563; margin-bottom: 12px;")
            | Anda dapat melihat rincian lengkap dalam format PDF melalui tautan berikut:
          a(
            href=`${data.apiUrl}/orders/quotation-pdf/${data.quotation.order.id}`,
            style="display: inline-block; background-color: #2563EB; color: #ffffff; padding: 12px 28px; text-decoration: none; border-radius: 8px; font-weight: 600; font-size: 0.875rem; transition: background-color 0.3s ease; box-shadow: 0 2px 6px rgba(0,0,0,0.1);" 
            onmouseover="this.style.backgroundColor='#1D4ED8'"
            onmouseout="this.style.backgroundColor='#2563EB'"
          )
            | Unduh Dokumen Penawaran (PDF)
          p(style="font-size: 0.8rem; color: #6b7280; margin-top: 8px;")
            | Dokumen ini berisi detail item, biaya survei, dan tahapan pemasangan jasa.


      if data.quotation && data.quotation.quotation_special === 1
        - const tahapTitles = ['Jasa Pemasangan Tahap 1', 'Jasa Pemasangan Tahap 2', 'Jasa Pemasangan Tahap 3'];
        each tahapTitle, tahapIndex in tahapTitles
          .order-info(style="padding: 20px;")
            h1(style="font-size: 1.25rem; font-weight: 600; margin-bottom: 16px;") #{tahapTitle}
            table(style="width: 100%; text-align: left; border-collapse: collapse; margin-bottom: 24px;")
              thead
                tr
                  th(style="min-width: 144px; max-width: 144px; border: 1px solid #e2e8f0; padding: 8px;") Jenis Jasa
                  th(style="min-width: 176px; max-width: 176px; border: 1px solid #e2e8f0; padding: 8px;") QTY
                  th(style="min-width: 176px; max-width: 176px; border: 1px solid #e2e8f0; padding: 8px;") Satuan
                  th(style="border: 1px solid #e2e8f0; padding: 8px;") Final Price
              tbody
                if data.quotation && data.quotation.quotation_details && data.quotation.quotation_details.length > 0
                  each item in data.quotation.quotation_details.filter((x) => x && x.item_type === 2 && x.work_step === (tahapIndex + 1))
                    tr
                      td(style="min-width: 144px; max-width: 144px; border: 1px solid #e2e8f0; padding: 8px; word-break: break-word; font-size: 0.875rem;") #{item && item.name ? item.name : '-'}
                      td(style="min-width: 176px; max-width: 176px; border: 1px solid #e2e8f0; padding: 8px; font-size: 0.875rem;") #{item && item.quantity ? item.quantity : '-'}
                      td(style="min-width: 176px; max-width: 176px; border: 1px solid #e2e8f0; padding: 8px; font-size: 0.875rem;") #{item && item.unit ? item.unit : '-'}
                      - var finalPrice = item && item.final_price ? item.final_price : '0'
                      - var formattedFinalPrice = 'Rp. ' + finalPrice.toString().replace(/\B(?=(\d{3})+(?!\d))/g, '.')
                      td(style="border: 1px solid #e2e8f0; padding: 8px; font-size: 0.875rem;") #{formattedFinalPrice}
        .order-info(style="padding: 20px;")
          h1(style="font-size: 1.25rem; font-weight: 600; margin-bottom: 16px;") Preview Bayar
          table(style="width: 100%; text-align: left; border-collapse: collapse; margin-bottom: 24px;")
            thead
              tr
                th(style="min-width: 144px; max-width: 144px; border: 1px solid #e2e8f0; padding: 8px;") Tahap Pembayaran
                th(style="min-width: 176px; max-width: 176px; border: 1px solid #e2e8f0; padding: 8px;") Persentase
                th(style="min-width: 176px; max-width: 176px; border: 1px solid #e2e8f0; padding: 8px;") Nominal Pembayaran
            tbody
              - const percentages = [25, 50, 25];
              each percentage, index in percentages
                - var grandTotal = data.quotation && data.quotation.quotation_grand_total ? parseFloat(data.quotation.quotation_grand_total) : 0
                - var nominalPembayaran = (grandTotal * (percentage / 100)).toFixed(2)
                tr
                  td(style="min-width: 144px; max-width: 144px; border: 1px solid #e2e8f0; padding: 8px; word-break: break-word; font-size: 0.875rem;") Tahap #{index + 1}
                  td(style="min-width: 176px; max-width: 176px; border: 1px solid #e2e8f0; padding: 8px; font-size: 0.875rem;") #{percentage}%
                  - var formattedNominal = 'Rp. ' + nominalPembayaran.replace(/\B(?=(\d{3})+(?!\d))/g, '.')
                  td(style="min-width: 176px; max-width: 176px; border: 1px solid #e2e8f0; padding: 8px; font-size: 0.875rem;") #{formattedNominal}
      else
        .order-info(style="padding: 20px;")
          h1(style="font-size: 1.25rem; font-weight: 600; margin-bottom: 16px;") Konfirmasi Quotation
          table(style="width: 100%; text-align: left; border-collapse: collapse; margin-bottom: 24px;")
            thead
              tr
                th(style="min-width: 144px; max-width: 144px; border: 1px solid #e2e8f0; padding: 8px;") Jenis Jasa
                th(style="min-width: 176px; max-width: 176px; border: 1px solid #e2e8f0; padding: 8px;") QTY
                th(style="min-width: 176px; max-width: 176px; border: 1px solid #e2e8f0; padding: 8px;") Satuan
                th(style="border: 1px solid #e2e8f0; padding: 8px;") Final Price
            tbody
              if data.quotation && data.quotation.quotation_details && data.quotation.quotation_details.length > 0
                each item in data.quotation.quotation_details.filter((x) => x && x.item_type === 2)
                  tr
                    td(style="min-width: 144px; max-width: 144px; border: 1px solid #e2e8f0; padding: 8px; word-break: break-word; font-size: 0.875rem;") #{item && item.name ? item.name : '-'}
                    td(style="min-width: 176px; max-width: 176px; border: 1px solid #e2e8f0; padding: 8px; font-size: 0.875rem;") #{item && item.quantity ? item.quantity : '-'}
                    td(style="min-width: 176px; max-width: 176px; border: 1px solid #e2e8f0; padding: 8px; font-size: 0.875rem;") #{item && item.unit ? item.unit : '-'}
                    - var finalPrice = item && item.final_price ? item.final_price : '0'
                    - var formattedFinalPrice = 'Rp. ' + finalPrice.toString().replace(/\B(?=(\d{3})+(?!\d))/g, '.')
                    td(style="border: 1px solid #e2e8f0; padding: 8px; font-size: 0.875rem;") #{formattedFinalPrice}
        table(style="width: 100%; text-align: left; border-collapse: collapse; margin-bottom: 24px;")
          thead
            tr
              th(style="min-width: 176px; max-width: 176px; border: 1px solid #e2e8f0; padding: 8px;") Satuan 
              th(style="border: 1px solid #e2e8f0; padding: 8px;") Final Price
          tbody
            if data.quotation && data.quotation.quotation_details && data.quotation.quotation_details.length > 0
              each item, index in data.quotation.quotation_details.filter((x) => x && x.item_type === 1)
                tr
                  td(style="min-width: 144px; max-width: 144px; border: 1px solid #e2e8f0; padding: 8px; word-break: break-word; font-size: 0.875rem;") #{item && item.name ? item.name : '-'} #{item && item.is_customer === true ? '( Disediakan oleh customer )' : ''}
                  td(style="min-width: 176px; max-width: 176px; border: 1px solid #e2e8f0; padding: 8px; font-size: 0.875rem;") #{item && item.quantity ? item.quantity : '-'}
                  td(style="min-width: 176px; max-width: 176px; border: 1px solid #e2e8f0; padding: 8px; font-size: 0.875rem;") #{item && item.unit ? item.unit : '-'}
                  - var finalPriceItem = item && item.final_price ? item.final_price : '0'
                  - var formattedFinalPriceItem = 'Rp. ' + finalPriceItem.toString().replace(/\B(?=(\d{3})+(?!\d))/g, '.')
                  td(style="border: 1px solid #e2e8f0; padding: 8px; font-size: 0.875rem;") #{formattedFinalPriceItem}
            tr
              td(colspan="3" style="border: 1px solid #e2e8f0; padding: 8px; text-align: end; font-size: 0.875rem; font-weight: 600;") Total
              - var reducedTotal = 0
              if data.quotation && data.quotation.quotation_details && data.quotation.quotation_details.length > 0
                - data.quotation.quotation_details.forEach(detail => {
                -   if (detail && detail.final_price) {
                -     reducedTotal += parseFloat(detail.final_price)
                -   }
                - })
              - var formattedReducedTotal = 'Rp. ' + reducedTotal.toFixed(0).replace(/\B(?=(\d{3})+(?!\d))/g, '.')
              td(style="border: 1px solid #e2e8f0; padding: 8px;") #{formattedReducedTotal}
            tr
              td(colspan="3" style="border: 1px solid #e2e8f0; padding: 8px; text-align: end; font-size: 0.875rem; font-weight: 600;") Promosi
              - var quotationPromotion = data.quotation && data.quotation.quotation_promotion ? data.quotation.quotation_promotion : '0'
              - var formattedQuotationPromotion = 'Rp. ' + quotationPromotion.toString().replace(/\B(?=(\d{3})+(?!\d))/g, '.')
              td(style="border: 1px solid #e2e8f0; padding: 8px;") #{formattedQuotationPromotion}
            tr
              td(colspan="3" style="border: 1px solid #e2e8f0; padding: 8px; text-align: end; font-size: 0.875rem; font-weight: 600;") Additional Promosi (#{data.quotation && data.quotation.promotion && data.quotation.promotion.name ? data.quotation.promotion.name : ''})
              - var promotionValue = data.quotation && data.quotation.promotion && data.quotation.promotion.promotion ? data.quotation.promotion.promotion : '0'
              - var formattedPromotion = 'Rp. ' + promotionValue.toString().replace(/\B(?=(\d{3})+(?!\d))/g, '.')
              td(style="border: 1px solid #e2e8f0; padding: 8px;") #{formattedPromotion}
            tr
              td(colspan="3" style="border: 1px solid #e2e8f0; padding: 8px; text-align: end; font-size: 0.875rem; font-weight: 600;") Grand Total
              - var grandTotal = data.quotation && data.quotation.quotation_grand_total ? data.quotation.quotation_grand_total : '0'
              - var formattedGrandTotal = 'Rp. ' + grandTotal.toString().replace(/\B(?=(\d{3})+(?!\d))/g, '.')
              td(style="border: 1px solid #e2e8f0; padding: 8px;") #{formattedGrandTotal}

      .divider(style="border-top: 1px solid #e5e7eb;")

      .customer-info.ui-mobile(style='padding: 20px')
        h2(style='font-size: 1.25rem; font-weight: 600; margin-bottom: 16px;') Informasi Pelanggan
        table.table-responsive(style='width: 100%; text-align: left; border-collapse: collapse; margin-bottom: 24px;')
          tr(style='min-width: 144px; max-width: 144px; border: 1px solid #e2e8f0; padding: 8px;')
            th(style='min-width: 144px; max-width: 144px; border: 1px solid #e2e8f0; padding: 8px; background-color: #eef1f5b0;') Nama
            td(style='min-width: 144px; max-width: 144px; border: 1px solid #e2e8f0; padding: 8px; word-break: break-word; font-size: 0.875rem;') #{data.order && data.order.members && data.order.members.full_name ? data.order.members.full_name : '-'}
          tr(style='min-width: 144px; max-width: 144px; border: 1px solid #e2e8f0; padding: 8px;')
            th(style='min-width: 144px; max-width: 144px; border: 1px solid #e2e8f0; padding: 8px; background-color: #eef1f5b0;') Email
            td(style='min-width: 144px; max-width: 144px; border: 1px solid #e2e8f0; padding: 8px; word-break: break-word; font-size: 0.875rem;') #{data.order && data.order.members && data.order.members.email ? data.order.members.email : '-'}
          tr(style='min-width: 144px; max-width: 144px; border: 1px solid #e2e8f0; padding: 8px;')
            th(style='min-width: 144px; max-width: 144px; border: 1px solid #e2e8f0; padding: 8px; background-color: #eef1f5b0;') Nomor Telepon
            td(style='min-width: 144px; max-width: 144px; border: 1px solid #e2e8f0; padding: 8px; word-break: break-word; font-size: 0.875rem;') #{data.order && data.order.project_number ? data.order.project_number : '-'}
          tr(style='min-width: 144px; max-width: 144px; border: 1px solid #e2e8f0; padding: 8px;')
            th(style='min-width: 144px; max-width: 144px; border: 1px solid #e2e8f0; padding: 8px; background-color: #eef1f5b0;') Alamat
            td(style='min-width: 144px; max-width: 144px; border: 1px solid #e2e8f0; padding: 8px; word-break: break-word; font-size: 0.875rem;') #{data.order && data.order.project_address ? data.order.project_address : '-'}

      .divider(style="border-top: 1px solid #e5e7eb;")

      .payment-instructions(style="padding: 20px;")
        h2(style="font-size: 1.25rem; font-weight: 600; margin-bottom: 16px;") Instruksi Pembayaran
        p(style="margin-bottom: 8px; color: #4a5568; font-weight: 600;") 1. Silahkan melakukan pembayaran di account di bawah ini:
        ul(style="list-style-type: disc; margin-left: 5px;")
          li(style="color: #4a5568;") Bank: #{data.quotation && data.quotation.store && data.quotation.store.bank_name ? data.quotation.store.bank_name : '-'}
          li(style="color: #4a5568;") Nomor Akun: #{data.quotation && data.quotation.store && data.quotation.store.bank_number ? data.quotation.store.bank_number : '-'}
          li(style="color: #4a5568;") Nama Akun: #{data.quotation && data.quotation.store && data.quotation.store.bank_account ? data.quotation.store.bank_account : '-'}
        p(style="margin-bottom: 8px; color: #4a5568; font-weight: 600;") 2. Silahkan kirim bukti bayar anda melalui:
        ul(style="list-style-type: disc; margin-left: 5px;")
          li(style="color: #4a5568;") Email: #{data.quotation && data.quotation.store && data.quotation.store.email ? data.quotation.store.email : 'Email belum tersedia'}
          li(style="color: #4a5568;") Whatsapp: #{data.quotation && data.quotation.store && (data.quotation.store.phone_number_1 || data.quotation.store.phone_number_2) ? (data.quotation.store.phone_number_1 || data.quotation.store.phone_number_2) : '-'}

      .divider(style="border-top: 1px solid #e5e7eb;")

      .information(style="padding: 20px;")
        h2(style="font-size: 1.25rem; font-weight: 600; margin-bottom: 16px;") Informasi
        if data.message && data.message.information_detail && data.message.information_detail.length > 0
          each item, index in data.message.information_detail
            p(style="margin-bottom: 8px; color: #4a5568;") #{index + 1 + '. ' + (item && item.information ? item.information : '')}

      .divider(style="border-top: 1px solid #e5e7eb;")

      .terms-conditions(style="padding: 20px;")
        h2(style="font-size: 1.25rem; font-weight: 600; margin-bottom: 16px;") Syarat & Ketentuan
        if data.message && data.message.terms_detail && data.message.terms_detail.length > 0
          each item, index in data.message.terms_detail
            p(style="margin-bottom: 8px; color: #4a5568;") #{index + 1 + '. ' + (item && item.terms ? item.terms : '')}

      .divider(style="border-top: 1px solid #e5e7eb;")

      .notes(style="padding: 20px;")
        h2(style="font-size: 1.25rem; font-weight: 600; margin-bottom: 16px;") Catatan
        p(style="margin-bottom: 8px; color: #4a5568;") 1. Semua penjualan Jasa Instalasi bersifat final.
        p(style="margin-bottom: 8px; color: #4a5568;") 2. Pembayaran harus dilakukan secara penuh sebelum pesanan diproses.
        p(style="margin-bottom: 8px; color: #4a5568;") 3. Waktu Kunjungan adalah perkiraan dan dapat bervariasi berdasarkan lokasi dan bersifat Kondisional.
        p(style="margin-bottom: 8px; color: #4a5568;") 4. Kami tidak bertanggung jawab atas kerusakan produk sebelum & sesudah pengerjaan atau kerugian yang terjadi selama Pengerjaan.
        p(style="margin-bottom: 8px; color: #4a5568;") 5. Dengan melakukan pemesanan, Anda menyetujui syarat dan ketentuan kami.

      .divider(style="border-top: 1px solid #e5e7eb;")

      .footer-notes(style="padding: 20px;")
        p(style="color: #4a5568; font-weight: 600; margin-top: 0; margin-bottom: 0;") #{data.message && data.message.footer ? data.message.footer : ''}

      .footer(style="background-color: #edf2f7; padding: 20px; text-align: center;")
        p(style="font-size: 0.875rem; font-weight: 600; margin: 0 !important") Jika Anda memiliki pertanyaan, jangan ragu untuk menghubungi kami di customer.relation@mitra10.com
        p(style="font-size: 0.875rem; font-weight: 600; margin: 0 !important;") &copy; 2024 Mitra10. All rights reserved.
      .footer-banner
        img(src=`${data.message && data.message.email_message_image && data.message.email_message_image.length > 0 ? `${data.apiUrl}/public/mails-image/${data.message.email_message_image.filter((x) => x.type === 2)[0].path}` : 'https://i.ibb.co.com/WfLzSHp/footer-email-instalasi-02.jpg'}`, alt="Banner Image" style="width: 100%; height: auto;")